# Configuration file for the online GUI                                         
# This file is for BPMs                                                         
#  All lines containing "#" are treated as comments (ignored)                   
#  Last line MUST be blank.                                                     
#  Multiple spaces are treated as one space.                                    
# To switch to log scale, add the option logy after the name of                 
# the histogram                                                                 

#usage
#do "gojapan" then change directory, or do "source ~/PREX/setup_japan.tcsh"
#./build/panguin -f macros/correlations_Catherine -r 2543 

#references of working config files
#https://github.com/JeffersonLab/japan/blob/hotfix-histo-titles/panguin/macros/default.cfg

#guicolor white                                                                 
# Default root file to look at                                                  
#rootfile /adaq1/work1/apar/japanOutput/prexALL_2543.000.root
protorootfile $QW_ROOTFILES/prexALL_XXXXX.000.root
#watchfile

# Defined cuts   
definecut ecut ErrorFlag==0

#cannot do two cuts at once
#cannot have more than first plot label work

newpage 2 1
        title Correlation
        macro ./plotCorr_Catherine.C("diff_bpm4aX.block0","diff_bpm4aX.block1","ErrorFlag==0",0,0)
        macro ./plotCorr_Catherine.C("diff_bpm4aX.block0","diff_bpm4aX.block1","ErrorFlag==0",1,1)

