# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Default root file to look at
#rootfile $QW_ROOTFILES/prexALL_1227.root

# Prototype rootfilename.. overrides GetRootFileName.C
protorootfile $QW_ROOTFILES/prexALL_XXXXX.root

# Defined cuts
definecut evcut  (CodaEventNumber>1000)

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

### column row
newpage 1 4
	title BCMs vs Event Number
        bcm_an_us:CodaEventNumber evcut -type scat -title "BCM1 vs Eventnumber" 
        bcm_an_ds:CodaEventNumber -title "BCM2 vs Event Number" -type box
        bcm_an_ds10:CodaEventNumber evcut -type prof -title "Prof example"
	(1-bcm_an_us/bcm_an_ds):(CodaEventNumber/30) ErrorFlag==0 -title "What is this?" -tree evt

newpage 1 2
        title BCM asymmetries
        asym_bcm_an_us ErrorFlag==0
        asym_bcm_an_ds ErrorFlag==0
        
newpage 1 3
	title Use some macros
	macro exampleMacro1.C(10)
	macro exampleMacro2.C
