# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Default root file to look at
#rootfile pan.root
rootfile /adaqfs/home/apar/ciprian/pan/ROOTfiles/parity18_4416_standard.root
##rootfile /adaq1/work1/apar/ciprian/parity18_4416_standard.root
##rootfile /dev/shm//QwMemMapFile.map

# Prototype rootfilename.. overrides GetRootFileName.C
 ##protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root
#protorootfile /adaql1/work1/apar/ciprian/parity18_4416_standard.root

# Defined cuts
definecut evcut  (ev_num>1000)
definecut mevcut (m_ev_num>1000)

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

newpage 1 4
	title BCMs vs Event Number
        bcm1:ev_num evcut -type scat -title "BCM1 vs Eventnumber" 
        bcm2:ev_num -title "BCM2 vs Event Number" -type box
        bcm5:ev_num evcut -type prof -title "Prof example"
	(1-bcm1/bcm2):(ev_num*3600) abs(bcm1<5e4) -title "What is this?" -tree R

newpage 1 2
        title BCM asymmetries
        asym_bcm1 ok_cut
        asym_bcm2 ok_cut
        
