# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Usage: exampleMacro2(std::string title, std::string draws, std:;string cuts,int binsx, double binlowx, double binhighx, int binsy, double binlowy, double binhighy)

# Default root file to look at
#rootfile pan.root
rootfile /adaq1/work1/apar/japanOutput/prexALL_1098.root
##rootfile /adaq1/work1/apar/ciprian/parity18_4416_standard.root
##rootfile /dev/shm//QwMemMapFile.map

# Prototype rootfilename.. overrides GetRootFileName.C
##protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root
#protorootfile /adaql1/work1/apar/ciprian/parity18_4416_standard.root

# Defined cuts
definecut evcut  (pattern_number>1)
definecut cuts (CodaEventNumber>10)
definecut bcmds_cut (-1*bcm_ds>1)

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

newpage 1 2
	title SAMs test
    macro ./macros/drawEVT.C("BPM4A-x-vs-y","bpm4aX:bpm4aY","bcm_an_ds10>10",100,2.4,2.55,100,1.9,2.1)
    macro ./macros/drawEVT.C("BPM4E-x-vs-y","bpm4eX:bpm4eY","bcm_an_ds10>10",100,2.1,2.4,100,0.90,1.30)
