# Configuration file for the online GUI 
# This file is for ADCs
#   All lines containing "#" are treated as comments (ignored)
#   Last line MUST be blank.
#   Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Valid entries include:
# To create a new TCanvas with a set number of plots in it
#   Specify with: newpage [x] [y] [TCanvas options]
# Tree drawing
#   Specify with: 
# Variable drawing
#   Specify with: variables cuts -type [type] -title [title] -tree [tree name]
# Page title setting:
#   Specify with: title Your Title Here
# Macro execution
#   Specify with: macro path/to/macro.C(options)
# Additional options: 
#   -noshow golden

# Default root file to look at
#rootfile pan.root
#goldenrootfile /adaq1/work1/apar/japanOutput/prexALL_1033.root
rootfile /adaq1/work1/apar/japanOutput/prexALL_1033.root
##rootfile /dev/shm/QwMemMapFile.map

# Prototype rootfilename.. overrides GetRootFileName.C
 ##protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root
#protorootfile /adaql1/work1/apar/ciprian/parity18_4416_standard.root

# Defined cuts
definecut evcut  (event_number>1)
definecut bcmds_cut (-1*bcm_ds>1)

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

newpage 1 2
    title Color Test
    yield_bcm_us:yield_bcm_ds:(yield_bcm_us-yield_bcm_ds) ErrorFlag==0 -type * 
    macro ./macros/setPlotStyle.C()
    yield_bcm_us:yield_bcm_ds:(yield_bcm_us-yield_bcm_ds) ErrorFlag==0 -type COLZ

newpage 1 5
    title Noise Floor Test
    asym_vqwk_26_0ch7
    macro ./macros/asymmetryPlot_example.C("vqwk_26_0ch7")
    asym_vqwk_26_0ch6 pattern_number>10
    macro ./macros/asymmetryPlot_example.C("vqwk_26_0ch6")
    macro ./macros/asymmetryPlot_example.C("vqwk_26_0ch5")
    macro ./macros/asymmetryPlot_example.C("vqwk_26_0ch4")
