#Caryn's macro
#To do a pedestal run, use scandata1 as monitor for current in injector. Use scandata2=1,2,3,4...10 to enumerate each current setting with scandata1 to indicate current (typically 70.3uA would be typed in as scandata1=703). Use scandata1=0 and scandata2=1,2....10 to enumerate the beam off before and after each current setpoint for the unser pedestals. Suggest 10uA,20,30,40,50,60,65,70,75,80 so scandata1=104,206,301,409,510,631,652,702,753,805 for example. Fit 65,70,75uA (640<scandata1<760)...May wish to do pedestals with target in for main detectors and SAMs. This means raster is on. 

#change env variable of $QW_ROOTFILES to the following in order to run macro
#/adaq1/work1/apar/japanOutput_realtime

# Configuration file for the online GUI                                         
# This file is for ADCs                                                         
#  All lines containing "#" are treated as comments (ignored)                   
#  Last line MUST be blank.                                                     
#  Multiple spaces are treated as one space.                                    
# To switch to log scale, add the option logy after the name of                 
# the histogram                                                                 

#guicolor white                                                                 
# Default root file to look at                                                  
#rootfile /adaq1/work1/apar/japanOutput/prexALL_1388.root
#something is wrong with bpm 4a and 4e in 1391 tails 
#protorootfile $QW_ROOTFILES/prexALL_XXXXX.root

# Uncomment the below line to monitor the fill of a ROOTfile.
watchfile

#
#macros
#macro ./macros/noStatBox.C()
#  macro ../../../rradloff/FindCorrelation.C(\"mul\",\"yield_bcm_an_us\",\"yield_bcm_an_ds\",\"ErrorFlag == 0\",true,true)
#macro ./showIntegrated.C()
 

# Defined cuts                                                                  
# View last 1 minute of helicity windows (assumes no oversampling, 120Hz)              
#definecut raw_evcut  ((Entries$-Entry$)<7200)
#view last 1 minute of helicity multiplets (assumes no oversampling, quartet pattern, 120Hz)
#definecut pair_evcut  ((Entries$-Entry$)<1800)
#view last 1 minute of helicity multiplets (assumes no oversampling, octet pattern, 120Hz)
#definecut pair_evcut  ((Entries$-Entry$)<900)
#startup events
#definecut evcut  (pattern_number>1)
#definecut cuts (CodaEventNumber>10)
#beam off events
#definecut bcmds_cut (-1*bcm_ds>1)
#japan hasn't got ok_cut so define myok_cut
#definecut myok_cut (ErrorFlag==0&&yield_bcm_an_us>32.5&&abs(1e6*asym_bcm_an_us)<2e3&&abs(diff_bpm12Y*1e3)<25)
#define a cut for hallC BCM that doesn't exist yets
#definecut injcut (ErrorFlag==0&&yield_bcm0l02>61&&abs(1e6*asym_bcm0l02)<2e3)
#define a cut for last 100 events
#definecut events100 (Entries$-Entry$)<100
#cavity cut
#definecut 


#cannot do two cuts at once
#cannot have more than first plot label work
#cannout use showIntegrated.C
#Error in <TROOT::Macro>: macro panguin/showIntegrated.C not found in path .:./macro:./macros:/adaqfs/apps/ROOT/6.14-04/macros

#example of random naming
#    //TString tmpstring(var)
 #     ///tmpstring +=c....
 #     //TString myMD5 - tmpstring.MD5();
 #     //TH1* thathist =(TH1*)hobj;
 #     //thathist->SetNameTitle(myMD5,command[3]);
 #     //g_cavd_fit->SetNameTitle(...,...);

### column row

definecut evcut  ((Entries$-Entry$)<20000)
#definecut dnowcut  (yield_bcm_an_ds>50&&(Entries$-Entry$)<20000)
#definecut unowcut (yield_bcm_an_us>50&&(Entries$-Entry$)<20000)

#definecut dcut  yield_bcm_an_ds>70
#definecut ucut yield_bcm_an_us>70

newpage 1 4
	title RIGHT NOW
        bcm_an_us:CodaEventNumber evcut -tree evt -title UPSTREAM 
        bcm_an_ds:CodaEventNumber evcut -tree evt -title UPSTREAM 
        asym_bcm_an_us/ppm:CodaEventNumber unowcut -tree mul -title UPSTREAM NOISE 
        asym_bcm_an_ds/ppm:CodaEventNumber dnowcut -tree mul -title DOWNSTREAM NOISE

newpage 2 2
	title RIGHT NOW HIST
        bcm_an_us evcut -tree evt -title UPSTREAM 
        bcm_an_ds evcut -tree evt -title UPSTREAM 
        asym_bcm_an_us/ppm unowcut -tree mul -title UPSTREAM NOISE 
        asym_bcm_an_ds/ppm dnowcut -tree mul -title DOWNSTREAM NOISE

newpage 1 4
	title  WHOLE RUN 
        bcm_an_us:CodaEventNumber -tree evt -title UPSTREAM 
        bcm_an_ds:CodaEventNumber  -tree evt -title UPSTREAM 
        asym_bcm_an_us/ppm:CodaEventNumber ucut -tree mul -title UPSTREAM NOISE 
        asym_bcm_an_ds/ppm:CodaEventNumber dcut -tree mul -title DOWNSTREAM NOISE

newpage 2 2
	title  WHOLE RUN HIST
        bcm_an_us -tree evt -title UPSTREAM 
        bcm_an_ds  -tree evt -title UPSTREAM 
        asym_bcm_an_us/ppm ucut -tree mul -title UPSTREAM NOISE 
        asym_bcm_an_ds/ppm dcut -tree mul -title DOWNSTREAM NOISE