#protorootfile $QW_ROOTFILES/prexALL_XXXXX.000.root
protorootfile $QW_ROOTFILES/prexALL_XXXXX.root
watchfile

definecut evcut (CodaEventNumber>60000)

# definecut evcut (CodaEventNumber10 && pat_phase==3)

#newpage 1 1
#    title BCM diff ppm
#	macro macros/PlotsBCMmacros/BCM_split_yield_panguin.C

newpage 4 3
  title CH-INJ f1 f2
    inj_f1:CodaEventNumber evcut -tree evt
    inj_f2:CodaEventNumber evcut -tree evt
    inj_f1 evcut -tree evt
    inj_f2 evcut -tree evt
    chouse_f1:CodaEventNumber evcut -tree evt
    chouse_f2:CodaEventNumber evcut -tree evt
    chouse_f1 evcut -tree evt
    chouse_f2 evcut -tree evt
    (inj_f1-chouse_f1):CodaEventNumber evcut -tree evt
    (inj_f2-chouse_f2):CodaEventNumber evcut -tree evt
    (inj_f1-chouse_f1) evcut -tree evt
    (inj_f2-chouse_f2) evcut -tree evt

newpage 1 3
  title ch_tsettle vs ch_timebrd_rampdelay
    ch_tsettle:ch_timebrd_rampdelay evcut1 -title "ch_tsettle vs ch_timebrd_rampdelay" -tree evt
    ch_tsettle:ch_timebrd_rampdelay CodaEventNumber>10 && pat_phase==3 -title "ch_tsettle vs ch_timebrd_rampdelay pat_phase==3" -tree evt
    ch_tsettle:ch_timebrd_rampdelay CodaEventNumber>10 && pat_phase!==3 -title -title "ch_tsettle vs ch_timebrd_rampdelay pat_phase!==3" -tree evt
   # bcm_an_ds10:CodaEventNumber evcut -type prof -title "Prof example" -title "What is this?" -tree evt
   # (1-bcm_an_us/bcm_an_ds):(CodaEventNumber) ErrorFlag==0 -title "What is this?" -tree evt

newpage 2 3
  title ch_timebrd_rampdelay
    ch_timebrd_rampdelay ch_tstable_clock_4mhz==0&&CodaEventNumber>10 -tree evt
    ch_timebrd_rampdelay ch_tstable_clock_4mhz!=0&&CodaEventNumber>10&&pat_phase!=3 -tree evt
    ch_timebrd_rampdelay ch_tstable_clock_4mhz==0&&CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_timebrd_rampdelay ch_clock_4mhz!=0&&CodaEventNumber>10 -tree evt
    ch_timebrd_rampdelay ch_clock_4mhz==0&&CodaEventNumber>10&&pat_phase!=3 -tree evt
    ch_timebrd_rampdelay ch_clock_4mhz!=0&&CodaEventNumber>10&&pat_phase==3 -tree evt

newpage 1 3
  title ch_tstable_clock_4mhz/4 vs ch_timebrd_rampdelay
    ch_tstable_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10 -tree evt -type .
    ch_tstable_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10&&pat_phase!=3 -tree evt -type .
    ch_tstable_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10&&pat_phase==3 -tree evt -type .

newpage 1 3
  title ch_gmn2
    ch_gmn2:ch_timebrd_integrationtime CodaEventNumber>10 -tree evt
    ch_gmn2:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_gmn2:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase!=3 -tree evt

newpage 1 2
  title ch_tstable_clock_4mhz/4
    ch_tstable_clock_4mhz/4 CodaEventNumber>10 && pat_phase!=3 -tree evt
    ch_tstable_clock_4mhz/4 CodaEventNumber>10 && pat_phase==3 -tree evt

newpage 2 3
  title ch_tstable_clock_4mhz/4 2D
    ch_tstable_clock_4mhz/4:CodaEventNumber CodaEventNumber>10&&pat_phase!=3 -tree evt
    ch_tstable_clock_4mhz/4:CodaEventNumber CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_tstable_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10 -tree evt
    ch_tstable_clock_4mhz/4:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_tstable_clock_4mhz/4:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase!=3 -tree evt

newpage 3 3
  title ch_clock_4mhz/4 vs ch_timebrd
    ch_clock_4mhz/4:ch_timebrd_integrationtime CodaEventNumber>10 -tree evt
    ch_clock_4mhz/4:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_clock_4mhz/4:ch_timebrd_integrationtime CodaEventNumber>10&&pat_phase!=3 -tree evt
    ch_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10 -tree evt
    ch_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10&&pat_phase==3 -tree evt
    ch_clock_4mhz/4:ch_timebrd_rampdelay CodaEventNumber>10&&pat_phase!=3 -tree evt

newpage 1 2
	title EVENT CUTS
        macro ./QualityAssurance/GetCountCutStats.C(0) 
        macro ./QualityAssurance/GetCountCutStats.C(20000) 

newpage 4 3
  title Integration Gate Timing
    ch_clock_4mhz/4e3:ch_timebrd_integrationtime pat_phase==3 -tree evt
    ch_clock_4mhz/4e3:ch_timebrd_integrationtime pat_phase!=3 -tree evt
    ch_clock_4mhz/4e3:ch_timebrd_rampdelay pat_phase==3 -tree evt
    ch_clock_4mhz/4e3:ch_timebrd_rampdelay pat_phase!=3 -tree evt
    ch_tsettle:ch_timebrd_integrationtime pat_phase==3 -tree evt
    ch_tsettle:ch_timebrd_integrationtime pat_phase!=3 -tree evt
    ch_tsettle:ch_timebrd_rampdelay pat_phase==3 -tree evt
    ch_tsettle:ch_timebrd_rampdelay pat_phase!=3 -tree evt
    qwk_0_2:ch_timebrd_integrationtime pat_phase==3 -tree evt
    qwk_0_2:ch_timebrd_integrationtime pat_phase!=3 -tree evt
    qwk_0_2:ch_timebrd_rampdelay pat_phase==3 -tree evt
    qwk_0_2:ch_timebrd_rampdelay pat_phase!=3 -tree evt
  
newpage 3 6
  title Full Timing DAQ
    ch_clock_4mhz/4e3 pat_phase==3 -tree evt
    ch_clock_4mhz/4e3 pat_phase!=3 -tree evt
    ch_clock_4mhz/4e3 ch_clock_4mhz<1000 && (Entry$>Entries$-20000) -tree evt
    (ch_tstable_clock_4mhz-ch_clock_4mhz)/4e3 evcut -tree evt
    (chouse_f1/chouse_fr)*(0.09+ch_tstable_clock_4mhz/4e3) evcut -tree evt
    (chouse_f2/chouse_fr)*(0.09+ch_tstable_clock_4mhz/4e3) evcut -tree evt
    chouse_fr evcut -tree evt
    chouse_f1 evcut -tree evt
    chouse_f2 evcut -tree evt
    (0.09+ch_tstable_clock_4mhz/4e3) evcut -tree evt
    inj_f1 evcut -tree evt
    inj_f2 evcut -tree evt
    1/(0.09+ch_tstable_clock_4mhz/4e3) evcut -tree evt
    rhrs_f1 evcut -tree evt
    rhrs_f2 evcut -tree evt
    (chouse_f1-inj_f1) evcut -tree evt
    lhrs_f1 evcut -tree evt
    lhrs_f2 evcut -tree evt
